<%= image_tag 'city_picture.jpg', class: 'full-width' %>
<div>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam architecto facere at eligendi dolor dicta illum dolorem saepe quos vero impedit inventore eos dolore, commodi, voluptas eius similique ab perferendis.
</div>

<%= link_to 'View Rangers', rangers_path, class: 'btn btn-default' %>
<%= link_to 'View Parks', parks_path, class: 'btn btn-default' %>
